*

!*.git*
!*.py
!README.md

!Genetic Learning/
Genetic Learning/test.py
Genetic Learning/*
!Genetic Learning/*.py
!Genetic Learning/README.md

!Genetic Learning/game_background.png
!Genetic Learning/game_ghost_flipped.png
!Genetic Learning/game_ghost.png
!Genetic Learning/jackolantern.png

!vys.h5
!winequality-red.csv
!frames_per_life.png
!wine_regression_results.png
!Genetic Learning/EL Clip.mp4
!Genetic Learning/EL Gif.gif
!Genetic Learning/EL Gif Spooky.gif

nn_batch_test.py
test_data.py
Genetic Learning/test.py
Genetic Learning/test_avg.py
